Repository AI4Green/AI4Green, pull requests merged in 2023-10, with the labels that each got.

#19 AB#126390: Add production deployment
  .github/workflows/deploy.yml
  Webapp/migrations/versions/330d1016bf41_add_1_5_updates.py
  Webapp/migrations/versions/f4207d353ac2_initial_migration.py
  Webapp/migrations/versions/ff521d60839e_initial_migration.py
Labels: CI, migrations

#20 AB#125037: Fix file upload
  Webapp/sources/blueprints/save_reaction/routes.py
  Webapp/sources/static/js/reaction_table/file_handling.js
  pyproject.toml
Labels: dependencies

#29 AB#133679: Enable workgroup deletion after workbook has been made
  Webapp/sources/models/workbook.py
  Webapp/sources/models/workgroup.py
  Webapp/sources/models/workgroup_request.py
Labels: need-migrations

#31 AB#133680: Email configuration for local use changed from bool to string
  Webapp/sources/config.py
  Webapp/sources/email_sender/email_sender.py
  Webapp/tests/services/test_email_sender.py
Labels: tests
