Repository AI4Green/AI4Green, pull requests merged in 2024-08, with the labels that each got.

#79 AB#176204: Recent reagent list
  Webapp/migrations/versions/70fd97efd6c4_rxn_and_recent_reagents.py
  Webapp/sources/blueprints/reaction_table/routes.py
  Webapp/sources/blueprints/reagents/routes.py
  Webapp/sources/models/compound.py
  Webapp/sources/models/data_export_request.py
  Webapp/sources/models/reaction.py
  Webapp/sources/models/workbook.py
  Webapp/sources/services/all_compounds.py
  Webapp/sources/services/compound.py
  Webapp/sources/services/novel_compound.py
  Webapp/sources/services/retrosynthesis/predictive_chemistry/compounds.py
  Webapp/sources/services/retrosynthesis/predictive_chemistry/tables.py
  Webapp/sources/services/retrosynthesis/predictive_chemistry/user_uploaded_routes.py
  Webapp/sources/services/utils.py
  Webapp/sources/services/workbook.py
  Webapp/sources/static/js/reaction_table/reaction_table.js
  Webapp/tests/services/test_novel_compound.py
Labels: migrations, need-migrations, tests

#81 AB#177041: fixed new reaction setup from quick access
  .github/workflows/push-to-devops.yml
  Webapp/sources/static/js/home.js
  Webapp/sources/templates/macros.html
Labels: CI

#85 AB#178444: Version 1.6 Misc fixes
  Webapp/compound_database/pubchem_download.py
  Webapp/sources/blueprints/manage_workgroup/routes.py
  Webapp/sources/services/data_export/eln_file.py
  Webapp/sources/services/retrosynthesis/dashboard.py
  Webapp/sources/services/retrosynthesis/predictive_chemistry/user_uploaded_routes.py
  Webapp/sources/templates/macros.html
  pyproject.toml
Labels: dependencies

#87 AB#136245: Update read me
  Dockerfile
  Webapp/migrations/versions/330d1016bf41_add_1_5_updates.py
  Webapp/sources/config.py
  poetry.lock
  pyproject.toml
  readme.md
Labels: dependencies, migrations
