Repository AI4Green/AI4Green, pull requests merged in 2024-04, with the labels that each got.

#56 AB#158293: Dependencies tidied
  Webapp/sources/blueprints/reaction_table/routes.py
  environment.yaml
  poetry.lock
  pyproject.toml
Labels: dependencies

#58 AB#160315: removed chython and STOUT
  Webapp/sources/blueprints/reaction_table/routes.py
  Webapp/sources/services/data_export.py
  Webapp/tests/services/test_rdf_write.py
  poetry.lock
  pyproject.toml
Labels: dependencies, tests

#59 AB#160519: Email verification
  Webapp/migrations/versions/330d1016bf41_add_1_5_updates.py
  Webapp/migrations/versions/c57d03c696a9_email_verification.py
  Webapp/sources/__init__.py
  Webapp/sources/blueprints/admin_dashboard/routes.py
  Webapp/sources/blueprints/auth/routes.py
  Webapp/sources/blueprints/email_verification/__init__.py
  Webapp/sources/blueprints/email_verification/routes.py
  Webapp/sources/blueprints/main/routes.py
  Webapp/sources/blueprints/reset_password/routes.py
  Webapp/sources/blueprints/update_email/routes.py
  Webapp/sources/models/user.py
  Webapp/sources/services/__init__.py
  Webapp/sources/services/email.py
  Webapp/sources/services/person.py
  Webapp/sources/services/user.py
  Webapp/sources/static/js/admin_dashboard.js
  Webapp/sources/static/js/registration.js
  Webapp/sources/templates/admin_dashboard.html
  Webapp/sources/templates/auth/register.html
  Webapp/sources/templates/email/email_verification.html
  Webapp/sources/templates/email/email_verification.txt
  Webapp/sources/templates/home.html
  Webapp/sources/templates/reset_password.html
Labels: migrations, need-migrations
