Repository AI4Green/AI4Green, pull requests merged in 2025-06, with the labels that each got.

#140 AB#214711: Bugfix/rename clashing module
  Webapp/sources/blueprints/admin_dashboard/routes.py
  Webapp/sources/blueprints/auth/routes.py
  Webapp/sources/blueprints/create_workgroup/routes.py
  Webapp/sources/blueprints/delete_profile/routes.py
  Webapp/sources/blueprints/email_verification/routes.py
  Webapp/sources/blueprints/join_workgroup/routes.py
  Webapp/sources/blueprints/manage_workbook/routes.py
  Webapp/sources/blueprints/manage_workgroup/routes.py
  Webapp/sources/blueprints/reaction_approval/routes.py
  Webapp/sources/blueprints/reset_password/routes.py
  Webapp/sources/blueprints/update_email/routes.py
  Webapp/sources/services/__init__.py
  Webapp/sources/services/controlled_substances.py
  Webapp/sources/services/data_export/export.py
  Webapp/sources/services/data_export/requests.py
  Webapp/sources/services/email_services.py
  Webapp/sources/services/notifications.py
  Webapp/sources/services/reaction.py
  Webapp/tests/services/test_auth.py
Labels: tests

#141 AB#214707: Feature/minio service
  Webapp/sources/__init__.py
  Webapp/sources/blueprints/audit_logs/__init__.py
  Webapp/sources/blueprints/audit_logs/routes.py
  Webapp/sources/config.py
  Webapp/sources/services/audit_logs.py
  Webapp/sources/services/data_access_history.py
  Webapp/sources/services/message_queue.py
  Webapp/sources/services/reaction_editing_history.py
  poetry.lock
  pyproject.toml
Labels: dependencies

#143 AB#215548: Feature/get human readable names audit
  Webapp/sources/__init__.py
  Webapp/sources/blueprints/audit_logs/routes.py
  Webapp/sources/services/audit_logs.py
  Webapp/sources/services/workgroup.py
  Webapp/tests/services/test_audit_logs.py
Labels: tests

#144 AB#215602: Update deploy version
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Labels: dependencies, CI

#145 AB#215898: comment out SSO button on login.html
  .github/workflows/audit-log-deploy.yml
  Webapp/sources/blueprints/auth/routes.py
  Webapp/sources/templates/auth/login.html
  Webapp/sources/templates/general/landing_page.html
Labels: CI
